.block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .nav{
        display: flex;
    }
.carzina{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
}
