.searchblock{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
input{
    width: 300px;
    height: 46px;
    border-radius: 10px;
    border: 1px solid #F3F3F3;
}
}
.searchlogo{
    display: flex;
    align-items: center;
img{
    position: absolute;
    margin-left: 12px;
    width: 32px;
}
}
.searchlogo input::placeholder{
    font-size: 20px;
    text-indent: 50px;
    color: #C4C4C4;
}